.env
.env.backup
.php_cs.cache
.phpunit.result.cache
**/.data/**
/.nyc_output
/.VSCodeCounter
/node_modules
/storage/*.key
/vendor
auth.json
build
coverage
Homestead.json
Homestead.yaml
npm-debug.log
phpunit.xml
yarn-error.log